* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("../../public/icons/SignInAura.svg"); /* Replace with your image path */
  background-size: cover; /* Ensures the image fills the viewport */
}

@font-face {
    font-family: 'SFProTextBold';
    src: url('../../public/fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-left: 40%;
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    background: #FFFFFF;
}

.everything-above-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.add-30-margin-bottom {
    margin-bottom: 30px;
}

.everything-button-and-below {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}