* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'SFProTextBold';
	src: url('../../public/fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

.container-task {
	width: 17rem;
	height: 270px;
	border-radius: 20px;
	background: white;
	padding: 20px 20px 0px 20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.left-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header-text {
	font-size: 18px;
	font-family: 'SFProTextBold', Arial, Helvetica, sans-serif;
}

.circle-for-checkbox {
	background: #f0f0f0;
	/*padding: 5px;*/
	border-radius: 50%;
}
