.body {
	display: flex;
	position: relative;
}
.dashboardCol {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	padding-right: 10px;
	padding-left: 2rem;
}

.chatbot {
	position: fixed;
	z-index: 999;
	right: 5rem;
	bottom: 2rem;
}

.calendCol {
	display: flex;
	flex-direction: column;
	padding-right: 2rem;
	gap: 2rem;
}
.calendRow {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
