* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.outer-box {
	width: 100%;
}
body {
	background-image: url('../../../public/icons/SignInAura.svg'); /* Replace with your image path */
	background-size: cover; /* Ensures the image fills the viewport */
}

@font-face {
	font-family: 'SFProTextBold';
	src: url('../../../public/fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'SFProTextRegular';
	src: url('../../../public/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'SFProTextSemibold';
	src: url('../../../public/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}

.center-create-account1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.create-account1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 80px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 50px;
	border-radius: 40px;
	background: #ffffff;
}

.create-account1-text {
	font-family: 'SFProTextBold', Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #2B3674;
	margin-top: 20px;
	text-align: center;
}

.everything-above-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.input {
	width: 500px;
	height: 50px;	
	border-radius: 10px;
	background-color: #FFFFFF;
	color: #BCBEC0;
	border-color: #BCBEC0;
	border-width: 1px;
	font-size: 14px;
	padding-left: 20px;
	align-self: center;
}

.input::placeholder {
	font-family: 'SFProTextRegular', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BCBEC0;
}

.center-email-input {
	display: flex;
	flex-direction: column;
}

.create-account1-label {
	font-family: 'SFProTextRegular', Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #2B3674;
	margin-bottom: 5px;
	align-self: flex-start;
	padding-left: 110px;
}

.create-account1-button {
	width: 500px;
	height: 50px;
	border-radius: 43px;	
	background: linear-gradient(to right, 
	#4A90E7 0%, #8779CC 44%, #CB6671 100%);
	font-family: 'SFProTextBold', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	border: none;
}

.add-30-margin-bottom {
	margin-bottom: 30px;
}

.everything-button-and-below {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.dont-have-account-text {
	color: #000000;
	font-size: 14px;
	font-family: 'SFProTextRegular', Arial, Helvetica, sans-serif;
}

.registration-link {
	color: #4A90E7;
	font-size: 14px;
	font-family: 'SFProTextSemibold', Arial, Helvetica, sans-serif;
}

a:link { 
	text-decoration: none; 
} 

a:visited { 
text-decoration: none; 
} 

a:hover { 
text-decoration: none; 
} 

a:active { 
text-decoration: none; 
}
