* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chatbot-area-container {
    width: 547px;
    height: 543px;
    display: flex;
}

.chatbot-button {
    flex: 0 0 auto;
    margin-left: auto;
    align-self: self-end;
}